# ignore for Analysis_of_Docking
Analysis_of_Docking/data/aligned/*
!Analysis_of_Docking/data/aligned/output_of_template_based_docking_experiment.txt

# DecisionTree_TBD_RMSD_prediction

# SASA_calculation
SASA_calculation/data/sasa_per_atoms/*
!SASA_calculation/data/sasa_per_atoms/a_lot_of_json_files_here.txt
